/* Master Overrides */


/* Text */

#text {
  display: inline-block;
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  width: 350px;
}

.callout {
  padding-bottom: 25px;
}

#contact-body {
  font-size: 18px;
  padding: 0px;
  padding-bottom: 12px;
}

#identifier {
  display: inline-block;
  width: 75px;
  border-bottom: solid 2px var(--nksAccent);
  text-align: center;
}

#identifier::after {
  content: "painter";
  font-style: italic;
  font-family: 'Lato', Helvetica, sans-serif;

  -webkit-animation: 'swap' 10s infinite;
   -moz-animation: 'swap' 10s infinite;
    -ms-animation: 'swap' 10s infinite;
     -o-animation: 'swap' 10s infinite;
        animation: 'swap' 10s infinite;
}

    @-webkit-keyframes swap {
      0% {content: "painter"; opacity: 1;}
      5% {opacity: 0;}
      10% {opacity: 0;}
      15% {opacity: 1;}
      20% {content: "designer"; opacity: 1;}
      25% {opacity: 0;}
      30% {opacity: 0;}
      35% {opacity: 1;}
      40% {content: "mover"; opacity: 1;}
      45% {opacity: 0;}
      50% {opacity: 0;}
      55% {opacity: 1;}
      60% {content: "dancer"; opacity: 1;}
      65% {opacity: 0;}
      70% {opacity: 0;}
      75% {opacity: 1;}
      80% {content: "coder"; opacity: 1;}
      85% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "painter"; opacity: 1;}
    }
    @-moz-keyframes swap {
      0% {content: "painter"; opacity: 1;}
      5% {opacity: 0;}
      10% {opacity: 0;}
      15% {opacity: 1;}
      20% {content: "designer"; opacity: 1;}
      25% {opacity: 0;}
      30% {opacity: 0;}
      35% {opacity: 1;}
      40% {content: "mover"; opacity: 1;}
      45% {opacity: 0;}
      50% {opacity: 0;}
      55% {opacity: 1;}
      60% {content: "dancer"; opacity: 1;}
      65% {opacity: 0;}
      70% {opacity: 0;}
      75% {opacity: 1;}
      80% {content: "coder"; opacity: 1;}
      85% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "painter"; opacity: 1;}
    }
    @-ms-keyframes swap {
      0% {content: "painter"; opacity: 1;}
      5% {opacity: 0;}
      10% {opacity: 0;}
      15% {opacity: 1;}
      20% {content: "designer"; opacity: 1;}
      25% {opacity: 0;}
      30% {opacity: 0;}
      35% {opacity: 1;}
      40% {content: "mover"; opacity: 1;}
      45% {opacity: 0;}
      50% {opacity: 0;}
      55% {opacity: 1;}
      60% {content: "dancer"; opacity: 1;}
      65% {opacity: 0;}
      70% {opacity: 0;}
      75% {opacity: 1;}
      80% {content: "coder"; opacity: 1;}
      85% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "painter"; opacity: 1;}
    }
    @-o-keyframes swap {
      0% {content: "painter"; opacity: 1;}
      5% {opacity: 0;}
      10% {opacity: 0;}
      15% {opacity: 1;}
      20% {content: "designer"; opacity: 1;}
      25% {opacity: 0;}
      30% {opacity: 0;}
      35% {opacity: 1;}
      40% {content: "mover"; opacity: 1;}
      45% {opacity: 0;}
      50% {opacity: 0;}
      55% {opacity: 1;}
      60% {content: "dancer"; opacity: 1;}
      65% {opacity: 0;}
      70% {opacity: 0;}
      75% {opacity: 1;}
      80% {content: "coder"; opacity: 1;}
      85% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "painter"; opacity: 1;}
    }
    @keyframes swap {
      0% {content: "painter"; opacity: 1;}
      5% {opacity: 0;}
      10% {opacity: 0;}
      15% {opacity: 1;}
      20% {content: "designer"; opacity: 1;}
      25% {opacity: 0;}
      30% {opacity: 0;}
      35% {opacity: 1;}
      40% {content: "mover"; opacity: 1;}
      45% {opacity: 0;}
      50% {opacity: 0;}
      55% {opacity: 1;}
      60% {content: "dancer"; opacity: 1;}
      65% {opacity: 0;}
      70% {opacity: 0;}
      75% {opacity: 1;}
      80% {content: "coder"; opacity: 1;}
      85% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "painter"; opacity: 1;}
    }

#contact {
  padding: 0px;
  margin-top: 50px;
}

.contact-icon {
  color: var(--nksWhite);
  font-weight: 600;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: var(--nksBlack);
  padding: 5px;
}

  .contact-icon:hover {
    background-color: var(--nksAccent);
  }

.tooltip {
  display: inline-block;
  position: relative;
  visibility: hidden;
}

#icon {
  opacity: 0;
  color: var(--nksAccent);
}

#icon:hover {
  opacity: 1;
}

/* Profile */

#profile {
  max-width: 600px;
  min-width: 300px;
  height: 600px;
  position: relative;
  float: right;
  margin-right: 10%;
}

/* Mobile Optimization */

@media only screen and (max-width: 600px) {

  #text {
    display: block;
    position: relative;
    margin: 0px 0px 75px 0px;
    width: 100%;
  }
  
  #profile {
    max-width: 100%;
    height: auto;
    border-left: none;
    float: none;
    padding: 0px;
  }

}