/* Master Overrides */

.main {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
}

/* Description */


.description {
    padding-left: 100px;
    margin-top: 90px;
}

.proj-title {
    color: #042B48;
    border-bottom: solid 2px #042B48;
}

.proj-description {
    color: #042B48;
    padding: 0px;
}


/* Carousel */



.slideshow {
    max-width: 1000px;
    max-height: 750px;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: #F7ECDC;
    padding: 10px;
    border: solid 4px #042B48;
}

.portSlides {
    display: none;
    height: 100%;
}

.imgSlide {
    width: 100%;
    object-fit: contain;
    height: 600px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #042B48;
     font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: #C35C57;
  }
  
  /* Caption text */
  .caption {
    color: #042B48;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 45%;
    text-align: right;
    right: 5%;
    white-space: nowrap;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    font-style: 'lato';
    color: #F7ECDC;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

    .numbertext::first-letter {
        font-size: 200%;
    }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #042B48;
    border: #C35C57 3px solid;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .active, .dot:hover {
    background-color: #C35C57;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



  /* Mobile Optimization (side phone) */

  @media only screen and (max-width: 800px) {

    .main {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .slideshow {
      padding: 0px;
      border: none;
    }
  }

  /* Mobile Optimization (upright phone) */

  @media only screen and (max-width: 600px) {

    .main {
        grid-template-columns: auto;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .slideshow {
      width: auto;
    }
  }