/* Master Override */

header {
  height: auto;
}

#navopen {
  border-color: #3D5D42;
}

#icons {
  background-color: #749F8D;
}


/* Art Page Text */

.art-txt {
    display: inline-grid;
    position: absolute;
    max-width: 350px;
    min-width: 300px;
    height: auto;
    left: 200px;
    top: 140px;
    width: 40%;
  }
  
.title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #3D5D42;

    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
    line-height: 53px;
 }

 .description {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #749F8D;
  
    padding-bottom: 15px;
    line-height: 19px;
    text-align: justify;
 }
  

/* Navigator Buttons */

.page-change_parent {
  display: block;
  height: 25px;
}

  .prev-proj {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #749F8D;
    
      padding: 5px;
      border-radius: 6px;
      float: left;
      cursor: pointer;
      text-decoration: none;
  }

  .prev-end {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #C6C2B6;
    
      padding: 5px;
      border-radius: 6px;
      float: left;
      cursor: auto;
      text-decoration: none;
  }

  .prev-proj:hover {
    background-color: #C35C57;
    color: #FFFBF5;
  }

  .next-proj {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #749F8D;
    
      padding: 5px;
      border-radius: 6px;
      float: right;
      cursor: pointer;
      text-decoration: none;
  }

  .next-end {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #C6C2B6;
    
      padding: 5px;
      border-radius: 6px;
      float: right;
      cursor: auto;
      text-decoration: none;
  }

  .next-proj:hover {
    background-color: #C35C57;
    color: #FFFBF5;
  }


/* purchase button */

.purch-parent {
  overflow: auto;
  width: 170px;
  display: block;
  margin-top:25px;
}

.purch-label {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #749F8D;
  
    line-height: 25px;
    text-align: justify;
    display: block;
    float: left;
}

.purch-price {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #749F8D;
  
    line-height: 25px;
    text-align: justify;
    display: block;
    float: right;
}

.purch-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

    width: 100%;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    line-height: 35px;
    padding: auto 20px;
    color: #FFFBF5;
    min-width: 165px;
    background-color: #749F8D;
    border-radius: 5px;
            
}

    .purch-btn:hover {
      background-color: #C35C57;
    color: #FFFBF5;
    }

.purch-sub {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #749F8D;
  
    padding-bottom: 15px;
    line-height: 19px;
    text-align: justify;
}

 /* image */

 .painting {
    max-width: 550px;
    min-width: 300px;
    height: 600px;
    position: relative;
    width: 40%;
    float: right;
    margin-right: 50px;
  }

  #painting {
      width: 100%;
      height: auto;
      object-fit: contain;
  }

  /* Mobile Optimization (side phone) */

  @media only screen and (max-width: 1050px) {

    .main {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .art-txt {
      top: 0px;
      width: auto;
      display: block;
      position: relative;
      margin-bottom: 200px;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .painting {
      padding: 0px;
      border: none;
      display: block;
      right: 0px;
      width: 100%;
      position: relative;
      margin: auto;
      float: none;
    }
  }

  /* Mobile Optimization (upright phone) */

  @media only screen and (max-width: 600px) {

    .main {
        grid-template-columns: auto;
    }

    .art-txt {
      left: auto;
      margin: auto auto 100px auto;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .painting {
      width: auto;
      float: none;
    }
  }