header {
    height: auto;
  }

/* Art Page Text */

.art-txt {
    display: inline-block;
    margin-left: 150px;
    top: 150px;
    position: absolute;
    width: 40%;
  }
  
.title {
   white-space: nowrap;
   overflow: hidden;
 }

 .description {
     padding-bottom: 30px;
 }
  
 /* image */

 .painting {
    max-width: 500px;
    min-width: 200px;
    height: 600px;
    position: relative;
    margin-left: 60%;
    width: 60%;
    right: 3vw;
    padding-left: 20px;
    border-left: solid 2px #ECD9A7;
  }

  #painting {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  /* button */

  #button {
      background-color: #ECD9A7;
      padding: 15px;
      display: inline-block;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      color: #042B48;
  }

  #purchase:hover {
      background-color: #E0C06D;
  }


  /* Mobile Optimization (side phone) */

  @media only screen and (max-width: 800px) {

    .main {
        grid-template-columns: auto;
        margin-top: 50px;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .slideshow {
      padding: 0px;
      border: none;
    }
  }

  /* Mobile Optimization (upright phone) */

  @media only screen and (max-width: 600px) {

    .main {
        grid-template-columns: auto;
    }

    .description {
      margin: 20px;
      padding: 0px;
    }

    .slideshow {
      width: auto;
    }
  }