/* Bio */

#contact-title {
  font-style: 'Noto Serif';
  font-weight: 400;
  text-decoration: underline #F1E0C4;
}

/* Icons */

.main-contact {
  display: grid;
  grid-template-columns: 25% 1fr 40%;
  width: 100%;
}

.left-col {
  text-align: right;
  padding-top: 25%;
}

.contactinfo {
  color: #7C7771;
  text-decoration: none;
}

#socialicon {
  font-size: 36px;
  display: block;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 25px;
  background-color: #E0C06D;
  padding: 5px;
  width: 60px;
  border-radius: 10px;
}

  #socialicon:hover {
    background-color: #9EBAB6;
    cursor: pointer;
  }

.center-col {
  padding: 10px;
  padding-top: 30px;
  background-color: #5D8C86;
  border: #9EBAB6 3px solid;
  height: 250px;
}

.right-col {
  padding-right: 40%;
}

#profile {
  width: 100%;
  margin: 0 20%;
  border: #9EBAB6 3px solid;
}



/* Phone Tooltip */



input {
  height: 0;
  width: 0;
  position: absolute;
  background-color: transparent;
  border: none;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .myTooltip {
  visibility: hidden;
  width: 150px;
  background-color: #042B48;
  color: #7C7771;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
  font-style: 'Lato';
  font-weight: 400;
}

.tooltip .myTooltip::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #042B48 transparent transparent;
}

#socialicon:hover .myTooltip {
  visibility: visible;
  opacity: 1;
}