/* Master Overrides */



/* Home Page Text */

.index-txt {
  display: inline-block;
  margin-left: 150px;
  top: 33%;
  position: absolute;
  width: 50%;
}

.type {
  border-right: 2px solid rgba(241,225,196,.6);
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}

/* byline */

#scratch {
  content: "(coded from scratch)";
  animation: 'wordSwap' 1s linear infinite alternate;
}

@keyframes wordSwap {
  0% {content: "(coded from scratch)";}
  50% {content: "Yay!";}
  100% {content: "(coded from scratch)"}
}

/* Slideshow */

.slideshow-container {
  max-width: 500px;
  min-width: 300px;
  height: 600px;
  position: relative;
  margin-left: auto;
  width: 40%;
  right: 3vw;
  padding: 5px;
  border-left: solid 2px #ECD9A7;
}

.slide {
  height: 100%;
  width: 100%;
}

.slide-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.slide-txt {
  color:  #ECD9A7;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: -20px;
  right: 0px;
  text-align: right;
  text-transform: uppercase;
}

.date {
  color:  #ECD9A7;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  top: 5%;
  left: -20px;
  text-transform: uppercase;
}

#dot-container {
  display: grid;
  position: absolute;
  left: -20px;
  bottom: 0;
  margin: auto;
}

.active {
  background-color: #ECD9A7;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}

@-webkit-keyframes fade {
  0% {opacity: 0; margin-left: 5px; margin-top: -5px;} 
  100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
}

@keyframes fade {
  0% {opacity: 0; margin-left: 5px; margin-top: -5px;} 
  100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}









/* Dropdown */

#dropdown {
  display: none;
  position: absolute;
  background-color: #5D8C86;
  border: #9EBAB6 3px solid;
  width: 90%;
  height: 80%;
  padding: 10px;
}

.description {
  position: relative;
  width: 24em;
  border-right: 2px solid rgba(241,225,196,.6);
  white-space: nowrap;
  overflow: hidden;  
  margin: 15px;
  font-family: 'Noto Serif';
  font-size: 28px;
  font-weight: 400;
  color: #ECD9A7;
}



/* Typing Animation */



.anim-typewriter{
  animation: typewriter 2s steps(44) 0.2s 1 normal both,
             blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 23.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #ECD9A7;}
  to{border-right-color: transparent;}
}

.close-welcome-card {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400;
  color: #5D8C86;
  position: absolute;
  display: block;
  background-color: #F1E0C4;
  padding: 10px;
  border: solid 3px #9EBAB6;
  bottom: 0;
  right: 0%;
}

  .close-welcome-card:hover {
    background-color: #9EBAB6;
    cursor: pointer;
  }


  /* Skill */



.dropdown-columns {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 500px;
}

.skill-box {
  width: 100%;
  height: inherit;
  display: inline-block;
}

.skill {
  color: #5D8C86;
  margin: 0;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  background-color: #F1E0C4;
  text-align: center;
  margin: auto;
  border: #9EBAB6 3px solid;
}

#skill-image {
  width: 100%;
  height: inherit;
  display: none;
  object-fit: contain;
  background-color: #9EBAB6;
  padding-bottom: 3px;
}

  .skill-box:hover .skill {
   color: #5D8C86;
   background-color:#9EBAB6;
  }

  .skill-box:hover #skill-image {
    display: inline-block;
  }




  @media only screen and (max-width: 600px) {

    .index-txt {
      margin: 0px;
      display: block;
      position: relative;
      width: 100%;
    }

    .slideshow-container {
      margin: auto;
      border: none;
      position: sticky;
      display: block;
    }

    .type {
      animation: none;
      white-space: normal;
    }

    .slide-txt {
      bottom: -40px;
      text-align: center;
      width: inherit;
    }

  }