/* Master Overrides */

/* colors #C35C57 var(--nksBlack) #251C13 #FFFBF5 */

/* Home Page Text */

.index-txt {
  display: inline-block;
  margin-top: 40%;
}

.type {
  border-right: 2px solid var(--nksBlack);
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
  margin-top: 25%;
}

/* Slideshow */

.slideshow-container {
  height: 500px;
  position: relative;
  float: right;
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.slide-txt {
  color:  var(--nksBlack);
  font-family: 'Lato', Helvetica, sans-serif;
  position: absolute;
  bottom: -20px;
  right: 0px;
  text-align: right;
  text-transform: uppercase;
}

.date {
  color:  var(--nksBlack);
  font-family: 'Lato', Helvetica, sans-serif;
  position: absolute;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  top: 5%;
  left: -20px;
  text-transform: uppercase;
}

#dot-container {
  display: grid;
  position: absolute;
  left: -20px;
  bottom: 0;
  margin: auto;
}

.active {
  background-color: var(--nksBlack);
}

/* Fading animation */
.fade {
  -webkit-animation: 'fade' 8s;
   -moz-animation: 'fade' 8s;
    -ms-animation: 'fade' 8s;
     -o-animation: 'fade' 8s;
        animation: 'fade' 8s;
}

  @-webkit-keyframes fade {
    0% {opacity: 0; margin-left: 10px; margin-top: -0px;} 
    25% {opacity: 1; margin-left: 0px; margin-top: -0px;}
    100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
  }
  @-moz-keyframes fade {
    0% {opacity: 0; margin-left: 10px; margin-top: -0px;} 
    25% {opacity: 1; margin-left: 0px; margin-top: -0px;}
    100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
  }
  @-ms-keyframes fade {
    0% {opacity: 0; margin-left: 10px; margin-top: -0px;} 
    25% {opacity: 1; margin-left: 0px; margin-top: -0px;}
    100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
  }
  @-o-keyframes fade {
    0% {opacity: 0; margin-left: 10px; margin-top: -0px;} 
    25% {opacity: 1; margin-left: 0px; margin-top: -0px;}
    100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
  }
  @keyframes fade {
    0% {opacity: 0; margin-left: 10px; margin-top: -0px;} 
    25% {opacity: 1; margin-left: 0px; margin-top: -0px;}
    100% {opacity: 1; margin-left: 0px; margin-top: -0px;}
  }


/* Typing Animation */



.anim-typewriter{
  -webkit-animation: 'typewriter' 2s;
  -moz-animation: 'typewriter' 2s;
  -ms-animation: 'typewriter' 2s;
  -o-animation: 'typewriter' 2s;
  animation: typewriter 2s steps(44) 0.25s 1 normal both,
             blinkTextCursor 800ms steps(44) 2s infinite;
}
  @-webkit-keyframes typewriter {
    from{width: 0;}
    to{width: 39em;}
  }
  @-moz-keyframes typewriter {
    from{width: 0;}
    to{width: 39em;}
  }
  @-ms-keyframes typewriter {
    from{width: 0;}
    to{width: 39em;}
  }
  @-o-keyframes typewriter {
    from{width: 0;}
    to{width: 39em;}
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 39em;}
  }

  @-webkit-keyframes typewriter {
    from{border-right-color: var(--nksBlack);}
    to{border-right-color: transparent;}
  }
  @-moz-keyframes typewriter {
    from{border-right-color: var(--nksBlack);}
    to{border-right-color: transparent;}
  }
  @-ms-keyframes typewriter {
    from{border-right-color: var(--nksBlack);}
    to{border-right-color: transparent;}
  }
  @-o-keyframes typewriter {
    from{border-right-color: var(--nksBlack);}
    to{border-right-color: transparent;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: var(--nksBlack);}
    to{border-right-color: transparent;}
  }


/* Mobile Optimization */

/* Tablet Optimization */

@media only screen and (max-width: 1200px) {

  h2 {
    text-align: center;
  }

  .text {font-size: 11px}

    .index-txt {
      margin: 100px 0px 0px 0px;
      display: block;
      position: relative;
      width: 100%;
      top: 0px;
    }

    .slideshow-container {
      margin: auto;
      border: none;
      position: sticky;
      display: block;
      height: 500px;
      margin-top: 70px;
      float: none;
    }

    .type {
      animation: none;
      white-space: normal;
      text-align: center;
      border: none;
    }

    .slide-txt {
      bottom: -40px;
      text-align: center;
      width: inherit;
    }

    .date {
      writing-mode: unset;
      left: 0px;
      top: -20px;
    }

}

/* Phone Optimization */

  @media only screen and (max-width: 600px) {

    .text {font-size: 11px}

    .index-txt {
      margin: 0px;
      display: block;
      position: relative;
      width: 100%;
      top: 0px;
    }

    .slideshow-container {
      margin: auto;
      border: none;
      position: sticky;
      display: block;
      height: 500px;
      margin-top: 70px;
      float: none;
    }

    .type {
      animation: none;
      white-space: normal;
      text-align: center;
    }

    .slide-txt {
      bottom: -40px;
      text-align: center;
      width: inherit;
    }

    .date {
      writing-mode: unset;
      left: 0px;
      top: -20px;
    }

  }