/*Main Layout*/



.mother {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #FFFBF5;
}

header {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 0rem;
  position: relative;
  height: auto;
}
    


/*Navigator*/

.nav-parent {
  width: auto;
  height: auto;
  position: absolute;
}

#navopen {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #003171;
  display: inline-block;
  transition: 0.5s;
  border-width: 3px;
}

  #navopen:hover, #navopen:active, #navopen:focus{
   background-color: #C35C57;
   border-color: #C35C57;
   cursor: pointer;
   scale: 120%;
  }

.navigator {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  white-space: nowrap;
}

.navigator a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFBF5;
  display: block;
  transition: 0.3s;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background-color: #749F8D;
  margin-bottom: 10px;
  letter-spacing: 6px;
}

.navigator .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  color: #749F8D;
  border: none;
}

.closebtn:hover {
  color: #C35C57;
}

#nav-tab:hover {
  background-color:  #C35C57;
  color: #FFFBF5;
}

@media screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*Body*/



h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #003171;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color:#003171;
  text-justify: inter-word;
  text-align: justify;
}

h3 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #3D5D42;
  margin: 0;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #003171;
  margin: auto;
  text-justify: inter-word;
  text-align: justify;
  display: inline-block;
}

.name {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 39px;

  color: #749F8D;
  
  display: inline-block;
  margin: 0 0 0 55px;
  text-transform: capitalize;
  vertical-align: middle;
}


.subtitle {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #49423a;
  margin-bottom: 30px;
  text-transform: lowercase;
}

.body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #003171;
}



/*Footer*/



.footer {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #003171;
  text-decoration: none;
  padding: 0px 100px 80px 100px;
}

#icons {
  background-color: #003171;
  color: #FFFBF5;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 25px;
  height: 25px;
  text-align: center;
}

  #icons:hover {
    cursor: pointer;
    animation-name: grow;
    animation-duration: 0.3s;
    scale: 150%;
    background-color: #C35C57;
  }

  @keyframes grow {
    0% {scale: 100%;}
    100% {scale: 160%;}
  }

.footer-col {
  float: left;
  width: 33.33%
}

#footer-left {
  float: left;
  text-align: left;
}

/* Mobile Optimization (side phone / tablet) */

@media only screen and (max-width: 1050px) {

  .main {
    margin-bottom: 50px;
  }

  .footer {
    height: 200px;
    padding: 0px;
    bottom: 20px;
    position: relative;
  }

  #footer-left {
    float: none;
    text-align: center;
    bottom: 40px;
    position: absolute;
    width: 100%;
  }

  .footer-col {
    float: none;
    width: auto;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    display: none;
  }
}

/* Mobile Optimization */

@media only screen and (max-width: 600px) {

  .mother {
    width: auto;
  }

  header {
    height: 100px;
    padding: 20px 0 0 0;
    text-align: center;
  }

  .nav-parent {
    position: relative;
    margin: auto;
  }

  #navopen {
    margin: auto;
    position: relative;
    display: block;
  }

  h2 {
    text-align: center;
  }

  .name {
    position: relative;
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  
  .footer {
    height: 100px;
    padding: 0px;
    bottom: 20px;
    position: relative;
  }

  #footer-left {
    float: none;
    text-align: center;
    bottom: 40px;
    position: absolute;
    width: 100%;
  }

  .footer-col {
    float: none;
    width: auto;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    display: none;
  }

}