/* 
    Add grab cursor to the VR 3D images
    
    Change the font to all Lato
    
    Tags for projects
    
    Purpose statement
    
    Artist portfolio or tech employment?

    WILL:
    Add more mobile optimization
    
    Re-typed roles animation on the front page
    
    suggestions of a grid on the portfolio page
    
    Less typefaces
    
    Slideshow navigation centered underneath the slideshow
    
    slow down home page images  
    
    You’re fucking cool, Neill
    
    Tags for projects on hover


    AMY:
    Love the overall look and feel of your site
    
    Colors look great, the monochrome/greyscale of your portfolio page is really nice
    
    Front page: make the front gallery go slower, add an indicator that it’s an animated 
    gallery (especially if it goes slower, might make it difficult to tell that it’s a gallery)
    
    Portfolio, there are two ways to flip through things.
    
    A bit confusing with the “previous project”, “next project”, as well as the arrows on the image carousel.
    
    A smaller carousel might help with this, where the project navigation is below or “encompasses” the images. 
    Might make it more clear that the carousel is specific to the project.
    
    Also the gallery’s white space seems kind of random/the sizes of the images don’t seem to have a pattern?
    
    Overlay for your projects
    
    From a discovery point of view, it might be more beneficial to have all your descriptions and titles already 
    on the images on your portfolio section but add color as you hover? — don’t make people guess what the project 
    is/look for a description. People might not even hover over them (just scroll through instead)
    
    You might want to implement Skeleton or a responsive CSS framework similar to Skeleton
    
    It will help your page respond to computers with different page/window sizes
    
    My computer shows a portion of your page past the fold including the carousel dots/squares. 
    Makes it harder to tell that it’s even a carousel. Your social link bubbles are also past the fold for me.
    
    Maybe just double check how your site looks on mobile?
    
    Carousel
    
    Nitpicky, but the carousel dots/square are a bit too far from the carousel itself
    
    Not 100% clear that they ARE carousel dots for the images above (principle of proximity)
    
    Could utilize opacity and make it closer?
    
    carousel arrows are hard to see on some images. you could move the arrows out of the images 
    (put them next to the images instead?) This might help with the different sizes of images you have. 
    for example on the LOM-X-R project, some images in that carousel are not as wide as others, the arrows touch the edges of the image
    
    Also, your page has some images throughout that are just as light, or almost as light as the background. 
    A UX tip for this would be a drop shadow on the photos or images to show that it’s clickable (yay affordances)
    
    Too many fonts (feedback from the professors)
    
    I don’t think there are too many, I can see that the body text is similar to your name font but the title font throws me off
    
    The title font is super heavy weight which I can tell is by intent, but the letters are also super close together which 
    makes it a bit distracting since all the other text has more spacing between letters.
    
    I’d like to see whatever problem you were trying to solve. It wasn’t very clear if these had a problem solving component, 
    but if it did, I’d love to read about it.
    
    Possibly include medium that you used to create the project? Tools that you used?
    
    The slideshow at the beginning, the slight animation where the images shrink a tad bit is personally distracting. It would 
    maybe be more beneficial for me if it just moved through the photos without the size animation
    
    Back to home?
    
    Maybe a way to get to home without clicking your name. People tend to automatically do what they usually do with other sites 
    so a home section in your navigation would be easier for them to know how to get back.
    */

/* Colors */

:root {
  --nksAccent: #e184ce;
  --nksWhite: #f2f2f2;
  --nksBlack: #151515;
  --nksGray: #858585;
}

/*Main Layout*/

.main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
}

.mother {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--nksWhite);
}

header {
  padding-top: 40px;
  padding-bottom: 0rem;
  position: relative;
  height: auto;
}
    


/*Navigator*/

.nav-parent {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
}

#header-container {
  display: inline-block;
  margin-left: 100px;
}

  #header-container:hover {
    cursor: pointer;
  }

  

#navigation {
  float: right;
  height: 40px;
  margin-right: 100px;
}

#header-name {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: var(--nksBlack);
  display: inline-block;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  text-decoration: none;
}

.nav-tab {
  text-decoration: none;
  background-color: var(--nksWhite);
  transition: 0.3s;
  text-align: left;
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
  color: var(--nksBlack);
  display: inline-block;
  margin: 0 0 0 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

  .nav-tab:hover, .nav-tab:focus {
    color: var(--nksAccent);
  }

#header-logo {
  height: 40px;
  display: inline-block;
  transition: 0.5s;
  border-width: 4px;
  border: solid 2px var(--nksBlack);
}

.navigator {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  white-space: nowrap;
}

#header-container:hover #header-name, #header-container:hover #header-logo {
  color: var(--nksAccent);
  border-color: var(--nksAccent);
}



/*Body*/



h1 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 2px;
  color: var(--nksBlack);
  text-align: left;
  margin: 0;
  margin-top: 5px;
}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color:var(--nksBlack);
  text-justify: inter-word;
  text-align: justify;
  line-height: 22px;
}

h3 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--nksBlack);
  margin: 0;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--nksBlack);
  margin: auto;
  text-justify: inter-word;
  text-align: justify;
  display: inline-block;
}


.textCard {
  position: relative;
  display: inline-grid;
  max-width: 350px;
  min-width: 315px;
  height: 550px;
  grid-template-rows: 50px 1fr 50px;
}

.subtitle {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--nksBlack);
  margin-bottom: 30px;
  text-transform: lowercase;
}

.body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: var(--nksBlack);
}



/*Footer*/



.footer {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: var(--nksBlack);
  text-decoration: none;
  padding: 0px 100px 80px 100px;
}

#icons {
  background-color: var(--nksBlack);
  color: var(--nksWhite);
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 25px;
  height: 25px;
  text-align: center;
}

  #icons:hover, #icons:focus {
    cursor: pointer;
    animation-name: grow;
    animation-duration: 0.3s;
    scale: 150%;
    background-color: var(--nksAccent);
  }

  @keyframes grow {
    0% {scale: 100%;}
    100% {scale: 160%;}
  }

.footer-col {
  float: left;
  width: 33.33%
}

#footer-left {
  float: left;
  text-align: left;
}

/* Mobile Optimization (side phone / tablet) */

@media only screen and (max-width: 1050px) {

  .main {
    margin-bottom: 50px;
  }

  header {
    height: 150px;
    padding: 20px 0 0 0;
    text-align: center;
  }

  .nav-parent {
    position: relative;
    margin: auto;
  }
  
  #navigation {
    margin: 0px;
    height: auto;
    float: none;
  }

  .nav-tab {
    margin: 0px;
    display: block;
    text-align: center;
  }

  #header-name {
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
  }

  #header-container {
    margin: auto;
    position: relative;
    display: block;
  }

  .footer {
    height: 200px;
    padding: 0px;
    bottom: 20px;
    position: relative;
  }

  #footer-left {
    float: none;
    text-align: center;
    bottom: 40px;
    position: absolute;
    width: 100%;
  }

  .footer-col {
    float: none;
    width: auto;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    display: none;
  }
}

/* Mobile Optimization */

@media only screen and (max-width: 600px) {

  .mother {
    width: auto;
  }

  header {
    height: 150px;
    padding: 20px 0 0 0;
    text-align: center;
  }

  .nav-parent {
    position: relative;
    margin: auto;
  }
  
  #navigation {
    margin: 0px;
    height: auto;
    float: none;
  }

  .nav-tab {
    margin: 0px;
    display: block;
    text-align: center;
  }

  #header-name {
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
  }

  #header-container {
    margin: auto;
    position: relative;
    display: block;
  }

  h2 {
    text-align: center;
  }

  
  
  .footer {
    height: 100px;
    padding: 0px;
    bottom: 20px;
    position: relative;
  }

  #footer-left {
    float: none;
    text-align: center;
    bottom: 40px;
    position: absolute;
    width: 100%;
  }

  .footer-col {
    float: none;
    width: auto;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    display: none;
  }

}