/* Overrides from Master */

.mother {
	background-color: #F1E0C4;
}

#icons {
	background-color: #C35C57;
	color: #F1E0C4;
}

.name {
	color: #C35C57;
}

#navopen {
	border-color: #C35C57;
	background-color: #F1E0C4;
}

.navigator a {
	color: #F1E0C4;
	background-color: #C35C57;
}
  
  .navigator .closebtn {
	color: #C35C57;
  }
  
  .closebtn:hover {
	color: #042B48;
  }
  
  #nav-portfolio:hover {
	background-color:  #042B48;
  }
  
  #nav-resume:hover {
	background-color:  #042B48;
  }
  
  #nav-contact:hover {
	background-color:  #042B48;
  }

/* Graph */

.row {
	height: 100%;
	width: 750px;
	display: flex;
}

.year-column {
	display: inline-block;
	height: 100%;
	width: 7%;
}

	#year {
		display: block;
		height: 10%;
		bottom: 15px;
		position: relative;
		color: #DB9D9A;
		margin: 0;
	}

.column {
	display: inline-block;
	height: 100%;
	width: 15%;
	position: relative;
	background-image:linear-gradient(to right, #DB9D9A 0px, transparent 1px), linear-gradient(#DB9D9A 0.5px, transparent 1px);
	background-size: 100% 10%;
}

	.column:hover .overlay-2016 {
		height: 50%;
	}

	.column:hover .overlay-2017 {
		height: 50%;
	}

	.column:hover .overlay-2018 {
		height: 60%;
	}

	.column:hover .overlay-2019 {
		height: 80%;
	}

	.column:hover .overlay-2020 {
		height: 90%;
	}

	.column:hover .tooltip {
		visibility: visible;
	}

	.overlay {
		position: absolute;
		left: 0;
		right: 0;
		background-color: #C35C57;
		overflow: hidden;
		width: 50%;
		height: 100px;
		transition: 0.3s ease-in-out;
		margin: auto;
	}

	#overlay-icon {
		color: #F1E0C4;
		top: 50px;
		width: 100%;
		text-align: center;
		font-size: 2vw;
		position: absolute;
	}

	.slice {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.tooltip {
		font-family: 'Roboto Slab';
		font-size: 20px;
		font-weight: 800;
		visibility: hidden;
		width: 100%;
		color: #C35C57;
		text-align: center;
		border-radius: 20px;
		position: absolute;
		z-index: 1;
		bottom: 0%;
	}