/*Main Layout*/



.mother {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #042B48;
}

header {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 0rem;
  position: relative;
}

.main {
  display: grid;
}

  @media only screen and (max-width: 600px) {

    .mother {
      width: 100%;
    }

    header {
      text-align: center;
    }
  }


/*Navigator*/



#navopen {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ECD9A7;
  background-color: #042B48;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  transition: 0.5s;
}

  #navopen:hover, #navopen:active, #navopen:focus{
   background-color: #ECD9A7;
   cursor: pointer;
   scale: 120%;
  }

.navigator {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.navigator a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #042B48;
  display: block;
  transition: 0.3s;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 400;
  background-color: #ECD9A7;
  margin-bottom: 10px;
  letter-spacing: 6px;
}

.navigator .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  color: #ECD9A7;
}

.closebtn:hover {
  color: #ECD9A7;
}

#nav-tab:hover {
  background-color:  #E0C06D;
}

@media screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*Body*/



h1 {
  font-family: lora;
  font-weight: 600;
  font-size: 25px;
  color: #F1E0C4;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color:#F1E0C4;
  margin-bottom: 10px;
  padding-top: 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  color: #688091;
  margin: 0;
  margin-top: 5px;
}

p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  color: #F1E0C4;
  margin: auto;
  padding: 15px;
  text-indent: 30px;
  text-justify: inter-word;
  text-align: justify;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ECD9A7;
  display: inline-block;
  letter-spacing: 3px;
  position: absolute;
  margin: 0 0 0 50px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #49423a;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #49423a;
  margin-bottom: 30px;
  text-transform: lowercase;
}

.body {
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 300;
  color: #ede1d2;
}



/*Footer*/



.footer {
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: #ECD9A7;
  text-decoration: none;
  padding: 0px 100px 40px 100px;
}

#icons {
  background-color: #ECD9A7;
  color: #042B48;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 25px;
  height: 25px;
  text-align: center;
}

  #icons:hover {
    cursor: pointer;
    animation-name: grow;
    animation-duration: 0.3s;
    scale: 160%;
  }

  @keyframes grow {
    0% {scale: 100%;}
    100% {scale: 160%;}
  }

.footer-col {
  float: left;
  width: 33.33%
}

#footer-left {
  float: left;
  text-align: left;
}

#footer-center {
  text-align: center;
}

#footer-right {
  float: right;
  text-align: right;
}

#footer-right:hover {
  color: #042B48;
}

@media only screen and (max-width: 600px) {

  .footer {
    padding: 5px;

  }

  #footer-left {
    float: none;
    text-align: center;
  }

  .footer-col {
    float: none;
    width: auto;
  }

  #footer-center {
    display: none;
  }

  #footer-right {
    display: none;
  }

}